*{
  box-sizing: border-box;
  color: rgb(216, 216, 216);
  font-family: "Gill Sans", sans-serif;
  margin: 0px;
}
body, html {
  height: 100%;
  overflow: hidden;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  overflow: hidden;
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.video-background .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 0.5 bu "hira" daraja */
  z-index: 1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: white;
  font-size: 2rem;
}
.cont-imtex{
  /* justify-content: space-around; */
  margin-top: 100px;
  width: 550px; 
  -webkit-box-shadow: 5px 5px 5px -5px rgba(208, 211, 213, 0.6);
  -moz-box-shadow: 5px 5px 5px -5px rgba(208, 211, 213, 0.6);
  box-shadow: 5px 5px 5px -5px rgba(208, 211, 213, 0.6);
}
.cont-flex{
  display: flex; 
}
h1{
  color: rgb(216, 216, 216);
}
.fron{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text-img {
  width: 220px;
  height: 220px;
}
.text-img img{
  width: 100%;
  height: 100%;
}
.icons{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
a{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
svg{
  width:  30px;
  height: 30px;
  border-radius: 10px;
}
svg:hover{
  margin-top: -20px;
  box-shadow: 0px 20px 10px rgb(216, 216, 216);
  transition: 0.4s;
}
.img{
  width: 80px;
  height: 400px;
}
.img img{
  height: 100%;
  transform: scaleX(-1);
}
.ozim{
  margin: 15px 20px;
  font-size: 15px;
}
@media (max-width:550px) {
  .cont-imtex{
    margin:100px 10px;
    width: auto;
  }
  .img{
    width: 60px;
    height: 350px;
  }
  h1{
    font-size: 60px;
  }
  .text-img {
    width: 180px;
    height: 180px;
  }
}
@media (max-width:500px) {
  .cont-imtex{
    margin:100px 10px;
    width: auto;
  }
  .img{
    width: 50px;
    height: 300px;
  }
  h1{
    font-size: 50px;
  }
  .text-img {
    width: 150px;
    height: 150px;
  }
  .icons{
    justify-content: start;
  }
  svg{
    width: 20px;
    height: 20px;
    border-radius: 0px;
  }
  a{
    width: 40px;
    height: 40px;
  }
  .ozim{
    font-size: 13px;
  }
}
@media (max-width:420px) {
  .cont-imtex{
    margin:100px 10px;
    width: auto;
  }
  .img{
    width: 50px;
    height: 240px;
  }
  h1{
    font-size: 40px;
  }
  .text-img {
    width: 120px;
    height: 120px;
  }
  .icons{
    justify-content: start;
  }
  svg{
    width: 20px;
    height: 20px;
    border-radius: 0px;
  }
  a{
    width: 40px;
    height: 40px;
  }
  .ozim{
    font-size: 10px;
  }
}